
.mainClass{
  display: flex;
  flex-direction: column ;
  align-items: center;
  font-weight:300;
}

h1{
  margin-bottom: 0;
  font-weight:350;
  font-size: 2.5rem
}
p{
  text-align: center;
  margin-bottom:5%;
  font-size: 1rem;
  line-height:1.4rem;
}

.pricePlan{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: flex-end;
  width:80%;
}
.footerSection{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  padding-top: 20px;
  padding-bottom:20px;
}