.pricePlanItem{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:24%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-bottom-style: solid;
  border-bottom-color:rgb(226, 226, 226);
  border-radius:0.5rem;
}

.titlePricePlan{
  padding:5% 0;
  background-color: rgb(241, 239, 234);
  width: 100%;
  text-align: center;
  font-weight:350;
}
.pricePlanTitleText{
  font-size: 1.5rem;
}
.starIcon{
  text-align: end;
}
.popularTag{
  font-size: 0.8rem;
}

.priceTag{
  margin:5% 0;
}
.planPrice{
  font-size: 2.1rem;
  font-weight: 400;
}
.planPeriod{
  font-size: 0.7rem;
}
.titlePricePlantrue{
  padding:0;
}

.features{
  text-align: center;
  font-size: 0.8rem;
}
.featureItem{
  padding:1%;
}

.buttonSignup{
  margin-top: 10%;
  margin-bottom:2%;
  width: 100%;
  border-color: #0083ee;
  background-color: white;
  color: #0083ee;
  padding:3% 0;
  border-radius: 0.3rem;
}
.buttonTrue{
  background-color: #0083ee;
  color: white;
}
.buttonFalse{
  background-color:white;
  color: #0083ee;
}


